NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/mercado_express?schema=public
LOG_LEVEL=info
TEST_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/mercado_express?schema=public